<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>채팅 프로그램</title>

  <!-- socket.io cdn -->
  <script src="https://cdn.socket.io/4.5.3/socket.io.min.js" integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi" crossorigin="anonymous"></script>

  <!-- axios cdn   -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!-- css -->
  <link rel="stylesheet" href="/static/css/chat.css">

  <!-- font CDN -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">


</head>

<body>
  <% if (isLogin) { %>

  <h1 class='hi' id=<%= userInfo.nickname %>>


  </h1>

  <a href="/"><button class="goMain">메인으로</button></a>

  <div class="entire" id=<%= groupId %>></div>
  <% } %>
  <!-- [실습44-2] 채팅창 입장 문구 안내 socket.it -> nickname -->




  <!-- [실습43] 채팅창 UI 만들기 -->
  <div class="chat-box">
    <div id="chat-list" class="chat-list">
      <!-- [실습43] 임시 데이터 -->
      <% if(chatContent !== null){ %>
      <% for (i = 0; i < Object.keys(chatContent).length; i++){ %>
      <% if(userInfo.userid == chatContent[i].user_id){ %>
      <div class="my-chat">
        <div class="innerDiv">
          <span class="timeDiv"><%= chatContent[i].time %></span>
          <div class="divChat"><%= chatContent[i].content %></div>
          <% }else { %>
          <div class="other-chat">
            <div class="nickDiv"><%= chatContent[i].user.nickname %></div>
            <div class="innerDiv">
              <div class="divChat"><%= chatContent[i].content %></div>
              <span class="timeDiv"><%= chatContent[i].time %></span>
              <% } %>
            </div>
          </div>

          <% }} %>
          <!-- 
        <div class="notice">xx가 입장했습니다.</div>
        <div class="my-chat">
          <div class="innerDiv">
            <div class="divChat">바보</div>
            <div class="timeDiv">18:30</div>
          </div>
        </div>
        <div class="other-chat">
          <div class="nickDiv">user2</div>
          <div class="innerDiv">
            <div class="timeDiv">18:32</div> 
            <div class="divChat">인정</div>
          </div>
        </div>
        <div class="notice">xx가 입장했습니다.</div> -->
        </div>
        <form class="msgForm">
          <input type="text" id="message" onkeydown="handleKeyPress(this)" autofocus></input>
          <button type="button" onclick="chatDb()">✔</button>
        </form>
      </div>


      <script src="/static/js/chat.js"></script>
</body>

</html>